[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
requests = "*"
requests-oauthlib = "*"
pillow = "*"
flickr-api = "*"
pyyaml = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
